<h1>Kittens#edit</h1>
<p>Find me in app/views/kittens/edit.html.erb</p>

<%= render "form", kitten: @kitten %>

<%= link_to "Delete Kitten", @kitten, method: :delete, data: { confirm: "Are you sure?" } %>
